<nav class="navbar sticky-top navbar-expand-lg bg-white shadow-sm mb-8">
  <div class="container">
    <button
      type="button"
      class="navbar-toggler collapsed"
      data-toggle="collapse"
      data-target="#navbar-collapse"
      aria-expanded="false"
    >
      <span class="sr-only">Toggle navigation</span> &#x2630;
    </button>
    <!-- <h2> -->
    <a href="/" class="navbar-brand"><i class="bi bi-journals"></i>&nbsp;<%= siteName %></a>
    <!-- </h2> -->

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <form class="my-2" action="/search/all">
        <!-- version 1 start -->
        <div class="row no-gutters align-items-center">
          <div class="col" style="width: 480px">
            <input
              class="form-control border-1 rounded-pill pr-5 light-gray"
              type="search"
              placeholder="search"
              value=""
              id="example-search-input2"
              name="keyword"
            />
          </div>
          <div class="col-auto ml-n5">
            <input type="hidden" name="sort_by" value="work_title" />
            <button class="btn border-0 rounded-pill" type="submit">
              <h7><i class="fa fa-search"></i></h7>
            </button>
          </div>
        </div>
      </form>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" tabindex="1">
          <a
            href="/lists"
            class="nav-link nav-menu nav-menu-lists text-black"
            id="lists"
            tabindex="1"
            ><strong>Lists</strong></a
          >
        </li>
        <li class="nav-item" tabindex="1">
          <a
            href="/search/all?keyword="
            class="nav-link nav-menu nav-menu-search text-black"
            id="search"
            tabindex="1"
            ><strong>Search</strong></a
          >
        </li>
        <li class="nav-item" tabindex="1">
          <a
            href="/graphics"
            class="nav-link nav-menu nav-menu-graphics text-black"
            id="graphics"
            tabindex="1"
            ><strong>Graphics</strong></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
