<div class="mx-n3">
  <a
    class="text-blue"
    data-toggle="collapse"
    href="#advanced_search_input"
    role="button"
    aria-expanded="false"
    aria-controls="advanced_search_input"
  >
    Advanced Search
  </a>
</div>
<div class="collapse" id="advanced_search_input">
  <div class="card card-body shadow-sm rounded-3 mx-n3">
    <h6 class="card-subtitle mb-2 text-muted">Search filters</h6>
    <form action="/search/advanced">
      <!-- condition 1 -->
      <div class="input-group input-group-sm mb-3">
        <input hidden type="text" value="and" name="logic" />
        <select
          class="col-5 custom-select skypurple border-1 rounded-start"
          id="category_0"
          name="category"
        >
          <option selected value="any">Any</option>
          <option value="work_title">Title</option>
          <option value="source_title">Source</option>
          <option value="author">Author</option>
          <option value="author_kr">Author (Korean)</option>
          <option value="translator">Translator</option>
          <option value="genre">Genre</option>
          <option value="publisher">Publisher</option>
          <option value="year">Published year</option>
        </select>
        <input
          type="text"
          class="form-control input-sm light-gray border-1 rounded-end"
          id="keyword_0"
          value="<%= keyword %>"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="keyword"
        />
      </div>
      <!-- condition 2 -->
      <div id="candidate_wrapper">
        <div class="input-group input-group-sm mb-3 candidate">
          <select
            class="col-2 custom-select light-purple border-1 rounded-start"
            id="logic_1"
            name="logic"
          >
            <option selected value="and">AND</option>
            <option value="or">OR</option>
            <option value="not">NOT</option>
          </select>
          <select class="col-3 custom-select skypurple border-1" id="category_1" name="category">
            <option selected value="work_title">Title</option>
            <option value="source_title">Source</option>
            <option value="author">Author</option>
            <option value="author_kr">Author (Korean)</option>
            <option value="translator">Translator</option>
            <option value="genre">Genre</option>
            <option value="publisher">Publisher</option>
            <option value="year">Published year</option>
          </select>
          <input
            type="text"
            class="form-control input-sm light-gray border-1 rounded-end"
            id="keyword_1"
            aria-label="Username"
            aria-describedby="basic-addon1"
            name="keyword"
          />
        </div>
      </div>
      <!-- dynamic List -->
      <div class="add_input_field"></div>

      <div class="d-flex">
        <div class="mr-auto pt-2">
          <input hidden type="text" value="work_title" name="sort_by" />
          <button type="submit" class="btn btn-sm dark-purple text-white">Search</button>
        </div>
        <div class="p-2">
          <button class="btn btn-sm float-right add_input_button rounded-pill skyblue text-blue">
            <i class="bi bi-plus-circle"></i> Add Another
          </button>
        </div>
        <div class="p-2">
          <button
            class="btn btn-sm float-right delete_input_button rounded-pill light-red text-red"
          >
            <i class="bi bi-dash-circle"></i> Delete the last
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
