body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 100;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  background-color: #f8f9fa !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #37465b;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

a {
  /* color: #02729e; */
  color: #767676;
}

a:hover {
  color: #111;
}

header .jumbotron {
  height: 40vh;
  margin-bottom: 0;
  background: url(../images/misc/MontlakeCut-HeroMay18.jpeg) no-repeat 100% 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header .navbar-brand {
  font-size: 1.3em;
  font-weight: 330;
  color: #4b2e83;
}

footer {
  background-color: #4b2e83;
}

.navbar {
  /* font-family: 'Roboto', sans-serif; */
  padding: 1.25rem 0;
  padding-top: 1.25rem;
  padding-right: 0px;
  padding-bottom: 1.25rem;
  padding-left: 0px;
  font-weight: 300;
}

.nav-menu:hover,
.nav-menu:focus {
  color: #4b2e83 !important;
  border-bottom: 1px solid #4b2e83 !important;
}

.mt-8 {
  margin-top: 3rem !important;
}

.fw-bold {
  font-weight: 300 !important;
}

.fs-lg {
  font-size: 1.1875rem !important;
}

.text-muted {
  /* color: #869ab8 !important; */
  color: #37465b !important;
}

section {
  padding-top: 5rem;
  padding-bottom: 7rem;
  position: relative;
}

.maincontent {
  line-height: 160%;
}

.font-badge {
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
}

.sidebar {
  font-size: 0.9em;
}

.sidebar-title {
  font-size: 1.3em;
}

.sidebar .sidebar-body li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    line-height: 160%;
  }
  .sidebar .sidebar-title {
    font-size: 2em;
  }
}

.speakerslist {
  line-height: 160%;
}

.text-blue {
  color: #335eea !important;
}

.text-gray {
  color: #506690 !important;
}

.text-black {
  color: #161c2d !important;
}

.text-gold {
  color: #a79344 !important;
}

.text-purple {
  color: #8458b3 !important;
}

.text-red {
  color: #f1416c !important;
}

.speakerslist-name a:hover {
  text-decoration: none;
  color: #494d5f;
}

.jumbotron {
  padding: 20px 0;
  border-radius: 0%;
}

.feedback-name {
  font-size: 0.6em;
  font-weight: 100;
}

.feedback-message {
  font-weight: 100;
  font-size: 0.9em;
  line-height: 120%;
  margin-top: 5px;
}

.feedback-item {
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

.feedback-title {
  font-weight: 400;
  font-size: 1.1em;
}

.feedback-form label {
  font-weight: 400;
}

.feedback-item:last-of-type {
  border-bottom: none;
}

/**  pixgrid **/

.pixgrid {
  cursor: pointer;
  margin-top: 20px;
}

.pixgrid img {
  display: block;
  padding: 5px;
  float: left;
  width: 33.33%;
  border-radius: 8px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 20%;
  }
}

.light-green {
  background-color: #d2f4ea;
}

.skygreen {
  background-color: rgba(12, 220, 185, 0.1) !important;
}

.dark-purple {
  background-color: #8458b3;
}

.light-purple {
  background-color: #d0bdf4;
}

.skypurple {
  background-color: #ebe8fd;
}

.light-gray {
  /* background-color: #e5eaf5; */
  background-color: #f1f3f4;
}

.light-blue {
  background-color: #a0d2eb;
}

.skyblue {
  background-color: #e9effd;
}

.sea-blue {
  background-color: #02729e;
}

.light-red {
  background-color: #ffeff3;
}

.text-sea-blue {
  color: #02729e;
}

.border-blue {
  border: 1px solid #335eea;
}

.border-red {
  border: 1px solid #f1416c;
}

.border-purple {
  border: 1px solid #8458b3;
}

.advancedSearchButton {
  background-color: #8458b3;
  border: none;
  color: white;
  padding: 2px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 8px;
}

.color-bar-left {
  border-left: 3px solid #02729e;
}

.nav-pills .nav-link.active,
.purple_button {
  background-color: #ebe8fd;
  border: 1px solid #8458b3;
  color: #8458b3;
  padding: 5px 15px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

/* .badge {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 3px 6px;
  border: 1px solid transparent;
  min-width: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 99999px;
}

.badge-outlined {
  border-color: #323a45;
  color: #323a45;
} */
