<div class="container mt-4">
  <h4 class="mb-3">Graphics</h4>
  <!-- nav start -->
  <div class="row">
    <div class="col-3">
      <div
        class="nav flex-column nav-pills"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="work-title-rank-tab"
          data-toggle="pill"
          href="#work-title-rank"
          role="tab"
          aria-controls="work-title-rank"
          aria-selected="true"
          >Work Title Rank</a
        >
        <a
          class="nav-link"
          id="author-rank-tab"
          data-toggle="pill"
          href="#author-rank"
          role="tab"
          aria-controls="author-rank"
          aria-selected="false"
          >Author Rank</a
        >
        <a
          class="nav-link"
          id="translator-rank-tab"
          data-toggle="pill"
          href="#translator-rank"
          role="tab"
          aria-controls="translator-rank"
          aria-selected="false"
          >Translator Rank</a
        >
        <a
          class="nav-link"
          id="genre-distribution-tab"
          data-toggle="pill"
          href="#genre-distribution"
          role="tab"
          aria-controls="genre-distribution"
          aria-selected="false"
          >Genre Distribution</a
        >
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div
          class="tab-pane fade show active shadow-sm rounded-3"
          id="work-title-rank"
          role="tabpanel"
          aria-labelledby="work-title-rank-tab"
        >
          <!-- work title rank embed start -->
          <div class="tableauPlaceholder" id="viz1626678434312" style="position: relative">
            <noscript
              ><a href="#"
                ><img
                  alt="work_title_board "
                  src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wo&#47;work_title_board&#47;work_title_board&#47;1_rss.png"
                  style="border: none" /></a></noscript
            ><object class="tableauViz" style="display: none">
              <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="site_root" value="" />
              <param name="name" value="work_title_board&#47;work_title_board" />
              <param name="tabs" value="no" />
              <param name="toolbar" value="yes" />
              <param
                name="static_image"
                value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wo&#47;work_title_board&#47;work_title_board&#47;1.png"
              />
              <param name="animate_transition" value="yes" />
              <param name="display_static_image" value="yes" />
              <param name="display_spinner" value="yes" />
              <param name="display_overlay" value="yes" />
              <param name="display_count" value="yes" />
              <param name="language" value="en-US" />
            </object>
          </div>
          <script type="text/javascript">
            var divElement = document.getElementById('viz1626678434312');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else if (divElement.offsetWidth > 500) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else {
              vizElement.style.width = '100%';
              vizElement.style.height = '877px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
          </script>
          <!-- work title rank embed end -->
        </div>
        <div
          class="tab-pane fade active shadow-sm rounded-3"
          id="author-rank"
          role="tabpanel"
          aria-labelledby="author-rank-tab"
        >
          <!-- author rank embed start -->
          <div class="tableauPlaceholder" id="viz1626725630997" style="position: relative">
            <noscript
              ><a href="#"
                ><img
                  alt="author_genre_board "
                  src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ge&#47;genre_distribution&#47;author_genre_board&#47;1_rss.png"
                  style="border: none" /></a></noscript
            ><object class="tableauViz" style="display: none">
              <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="site_root" value="" />
              <param name="name" value="genre_distribution&#47;author_genre_board" />
              <param name="tabs" value="no" />
              <param name="toolbar" value="yes" />
              <param
                name="static_image"
                value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ge&#47;genre_distribution&#47;author_genre_board&#47;1.png"
              />
              <param name="animate_transition" value="yes" />
              <param name="display_static_image" value="yes" />
              <param name="display_spinner" value="yes" />
              <param name="display_overlay" value="yes" />
              <param name="display_count" value="yes" />
              <param name="language" value="en-US" />
              <param name="filter" value="publish=yes" />
            </object>
          </div>
          <script type="text/javascript">
            var divElement = document.getElementById('viz1626725630997');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else if (divElement.offsetWidth > 500) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else {
              vizElement.style.width = '100%';
              vizElement.style.height = '1127px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
          </script>
          <!-- author rank embed end -->
        </div>
        <div
          class="tab-pane fade active shadow-sm rounded-3"
          id="translator-rank"
          role="tabpanel"
          aria-labelledby="translator-rank-tab"
        >
          <!-- translator rank embed start -->
          <div class="tableauPlaceholder" id="viz1626726027661" style="position: relative">
            <noscript
              ><a href="#"
                ><img
                  alt="translator_genre_board "
                  src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;translator_genre_board&#47;translator_genre_board&#47;1_rss.png"
                  style="border: none" /></a></noscript
            ><object class="tableauViz" style="display: none">
              <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="site_root" value="" />
              <param name="name" value="translator_genre_board&#47;translator_genre_board" />
              <param name="tabs" value="no" />
              <param name="toolbar" value="yes" />
              <param
                name="static_image"
                value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;translator_genre_board&#47;translator_genre_board&#47;1.png"
              />
              <param name="animate_transition" value="yes" />
              <param name="display_static_image" value="yes" />
              <param name="display_spinner" value="yes" />
              <param name="display_overlay" value="yes" />
              <param name="display_count" value="yes" />
              <param name="language" value="en-US" />
              <param name="filter" value="publish=yes" />
            </object>
          </div>
          <script type="text/javascript">
            var divElement = document.getElementById('viz1626726027661');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else if (divElement.offsetWidth > 500) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else {
              vizElement.style.width = '100%';
              vizElement.style.height = '877px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
          </script>
          <!-- translator rank embed end -->
        </div>
        <div
          class="tab-pane fade active shadow-sm rounded-3"
          id="genre-distribution"
          role="tabpanel"
          aria-labelledby="genre-distribution-tab"
        >
          <!-- genre distribution start -->
          <div class="tableauPlaceholder" id="viz1626679548162" style="position: relative">
            <noscript
              ><a href="#"
                ><img
                  alt="genre_board "
                  src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ge&#47;genre_board&#47;genre_board&#47;1_rss.png"
                  style="border: none" /></a></noscript
            ><object class="tableauViz" style="display: none">
              <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="site_root" value="" />
              <param name="name" value="genre_board&#47;genre_board" />
              <param name="tabs" value="no" />
              <param name="toolbar" value="yes" />
              <param
                name="static_image"
                value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ge&#47;genre_board&#47;genre_board&#47;1.png"
              />
              <param name="animate_transition" value="yes" />
              <param name="display_static_image" value="yes" />
              <param name="display_spinner" value="yes" />
              <param name="display_overlay" value="yes" />
              <param name="display_count" value="yes" />
              <param name="language" value="en-US" />
            </object>
          </div>
          <script type="text/javascript">
            var divElement = document.getElementById('viz1626679548162');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else if (divElement.offsetWidth > 500) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else {
              vizElement.style.width = '100%';
              vizElement.style.height = '727px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
          </script>
          <!-- genre distribution end -->
        </div>
      </div>
    </div>
  </div>
  <!-- nav end -->
</div>
