<section class="pt-8 pt-md-11">
  <div class="container">
    <div class="row mt-8">
      <p hidden>abc</p>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-7 mb-5 mb-md-0">
        <!-- Images -->
        <div class="row">
          <div class="col-6 me-n10">
            <img
              src="/images/Picture1.jpg"
              alt="..."
              class="img-fluid mb-4 rounded aos-init aos-animate shadow"
              data-aos="fade-right"
              data-aos-delay="100"
            />

            <img
              src="/images/Picture2.jpg"
              alt="..."
              class="img-fluid rounded aos-init aos-animate shadow"
              data-aos="fade-right"
              data-aos-delay="150"
            />
          </div>
          <div class="col-6 mt-8">
            <img
              src="/images/Picture3.jpg"
              alt="..."
              class="img-fluid mb-4 rounded aos-init aos-animate shadow"
              data-aos="fade-right"
            />

            <img
              src="/images/Picture4.jpg"
              alt="..."
              class="img-fluid rounded aos-init aos-animate shadow"
              data-aos="fade-right"
              data-aos-delay="50"
            />
          </div>
        </div>
        <!-- / .row -->
      </div>
      <div class="col-12 col-md-6 col-lg-4 aos-init aos-animate" data-aos="fade-left">
        <!-- Heading -->
        <h2 class="fw-bold">Korean literature in English Translation</h2>

        <!-- Text -->
        <p class="fs-lg text-muted mb-4">
          Compiling Korean literature in English translation up to 2020 publications from book and
          journals articles, the site provides complete lists by all genres (fiction, poem, essay,
          play, classics, children’s) and search function by author, translator, work title,
          publication date and more.
        </p>

        <!-- Button -->
        <!-- search bar start -->
        <form class="my-2" action="/search/all">
          <div class="row no-gutters align-items-center">
            <div class="col" style="width: 480px">
              <input
                class="form-control border-1 rounded-pill pr-5 skyblue"
                type="search"
                placeholder="search"
                value=""
                id="example-search-input2"
                name="keyword"
              />
            </div>
            <div class="col-auto ml-n5">
              <input type="hidden" name="sort_by" value="work_title" />
              <button class="btn border-0 rounded-pill" type="submit">
                <h7><i class="fa fa-search"></i></h7>
              </button>
            </div>
          </div>
        </form>
        <!-- search bar end -->
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
