<div class="container mt-4">
  <h4 class="mb-3">Literature Statistics</h4>
  <!-- nav start -->
  <div class="row">
    <div class="col-3">
      <div
        class="nav flex-column nav-pills"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="v-pills-home-tab"
          data-toggle="pill"
          href="#v-pills-home"
          role="tab"
          aria-controls="v-pills-home"
          aria-selected="true"
          >Title & Source Rank</a
        >
        <a
          class="nav-link"
          id="v-pills-profile-tab"
          data-toggle="pill"
          href="#v-pills-profile"
          role="tab"
          aria-controls="v-pills-profile"
          aria-selected="false"
          >Author & Translator Rank</a
        >
        <a
          class="nav-link"
          id="v-pills-messages-tab"
          data-toggle="pill"
          href="#v-pills-messages"
          role="tab"
          aria-controls="v-pills-messages"
          aria-selected="false"
          >Genre Distribution</a
        >
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div
          class="tab-pane fade show active shadow-sm rounded-3"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
        >
          <!-- title & source rank embed start -->
          <div class="tableauPlaceholder" id="viz1625640219697" style="position: relative">
            <noscript
              ><a href="#"
                ><img
                  alt="Dashboard 1 "
                  src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wo&#47;work_source&#47;Dashboard1&#47;1_rss.png"
                  style="border: none" /></a></noscript
            ><object class="tableauViz" style="display: none">
              <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="site_root" value="" />
              <param name="name" value="work_source&#47;Dashboard1" />
              <param name="tabs" value="no" />
              <param name="toolbar" value="yes" />
              <param
                name="static_image"
                value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wo&#47;work_source&#47;Dashboard1&#47;1.png"
              />
              <param name="animate_transition" value="yes" />
              <param name="display_static_image" value="yes" />
              <param name="display_spinner" value="yes" />
              <param name="display_overlay" value="yes" />
              <param name="display_count" value="yes" />
              <param name="language" value="en-US" />
            </object>
          </div>
          <script type="text/javascript">
            var divElement = document.getElementById('viz1625640219697');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else if (divElement.offsetWidth > 500) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else {
              vizElement.style.width = '100%';
              vizElement.style.height = '1127px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
          </script>
          <!-- title & source rank embed end -->
        </div>
        <div
          class="tab-pane fade show active shadow-sm rounded-3"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
        >
          <!-- author & translator rank embed start -->
          <div class="tableauPlaceholder" id="viz1625641718835" style="position: relative">
            <noscript
              ><a href="#"
                ><img
                  alt="Dashboard 3 "
                  src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ZJ&#47;ZJXSFDZYM&#47;1_rss.png"
                  style="border: none" /></a></noscript
            ><object class="tableauViz" style="display: none">
              <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="path" value="shared&#47;ZJXSFDZYM" />
              <param name="toolbar" value="yes" />
              <param
                name="static_image"
                value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ZJ&#47;ZJXSFDZYM&#47;1.png"
              />
              <param name="animate_transition" value="yes" />
              <param name="display_static_image" value="yes" />
              <param name="display_spinner" value="yes" />
              <param name="display_overlay" value="yes" />
              <param name="display_count" value="yes" />
              <param name="language" value="en-US" />
            </object>
          </div>
          <script type="text/javascript">
            var divElement = document.getElementById('viz1625641718835');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else if (divElement.offsetWidth > 500) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else {
              vizElement.style.width = '100%';
              vizElement.style.height = '1127px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
          </script>
          <!-- author & translator rank embed end -->
        </div>
        <div
          class="tab-pane fade show active shadow-sm rounded-3"
          id="v-pills-messages"
          role="tabpanel"
          aria-labelledby="v-pills-messages-tab"
        >
          <!-- genre distribution start -->
          <div class="tableauPlaceholder" id="viz1625641641732" style="position: relative">
            <noscript
              ><a href="#"
                ><img
                  alt="Dashboard 2 "
                  src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ge&#47;genre_distribution&#47;Dashboard2&#47;1_rss.png"
                  style="border: none" /></a></noscript
            ><object class="tableauViz" style="display: none">
              <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="site_root" value="" />
              <param name="name" value="genre_distribution&#47;Dashboard2" />
              <param name="tabs" value="no" />
              <param name="toolbar" value="yes" />
              <param
                name="static_image"
                value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ge&#47;genre_distribution&#47;Dashboard2&#47;1.png"
              />
              <param name="animate_transition" value="yes" />
              <param name="display_static_image" value="yes" />
              <param name="display_spinner" value="yes" />
              <param name="display_overlay" value="yes" />
              <param name="display_count" value="yes" />
              <param name="language" value="en-US" />
            </object>
          </div>
          <script type="text/javascript">
            var divElement = document.getElementById('viz1625641641732');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else if (divElement.offsetWidth > 500) {
              vizElement.style.width = '850px';
              vizElement.style.height = '1127px';
            } else {
              vizElement.style.width = '100%';
              vizElement.style.height = '727px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
          </script>
          <!-- genre distribution end -->
        </div>
      </div>
    </div>
  </div>
  <!-- nav end -->
</div>
